@import './src/variables';

.button {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 16px 10px;
  outline: none;
  min-width: 375px;
  border-radius: 41px;
  transition: 0.4s color ease-in-out, 0.4s background ease-in-out;
  border: 1px solid transparent;
  cursor: pointer;

  &.primary {
    background: $primary;
    color: #fff;

    &:hover {
      color: $primary;
      border-color: $primary;
      background: transparent;
    }
  }
}